98-401-X2016036_English_CSV_data.csv filter=lfs diff=lfs merge=lfs -text
Dataset/recensement_region_tri_fra_CSV/98-401-X2016036_Francais_CSV_data.csv filter=lfs diff=lfs merge=lfs -text
Dataset/pshape/CanadaPostalCodePolygons.shp filter=lfs diff=lfs merge=lfs -text
